appdirs==1.4.3
asgiref==3.2.5
astroid==2.3.3
class-registry==2.1.2
colorama==0.4.3
distlib==0.3.0
dj-database-url==0.5.0
Django==3.1.12
django-crispy-forms==1.9.0
django-filter==2.2.0
django-heroku==0.3.1
django-widget-tweaks==1.4.8
filelock==3.0.12
filters==1.3.2
gunicorn==20.0.4
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
Pillow==7.0.0
psycopg2==2.8.5
pylint==2.4.4
python-dateutil==2.8.1
pytz==2019.3
regex==2020.2.20
six==1.14.0
sqlparse==0.3.1
virtualenv==20.0.13
virtualenvwrapper-win==1.2.6
whitenoise==5.0.1
wrapt==1.11.2
