{% extends "Report/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <!--<div class="container-fluid">
      <div class="media">-->
        <div class="d-flex justify-content-center">
        <div class="col-md-6">
          <div class="card card-body">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <!--<div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
          <p class="text-secondary">{{ user.Age }}</p>
          <p class="text-secondary">{{ user.Location }}</p>
          <p class="text-secondary">{{ user.Phone_Number }}</p>
        </div>
      </div>-->
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset>
              <legend style="text-align: center; color: rgb(10, 126, 120); font-weight: bold;">Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
    </div>
        </div>
        </div>
{% endblock content %}
